.container {
	padding: 0 20rem;
	color: hsl(215, 15%, 92%);
}

.Input,
.Select {
	background-color: hsla(210, 100%, 30%, 0.2);
	border: 1px solid hsla(210, 100%, 38%, 0.8);
	color: hsl(215, 15%, 92%);
}

.Input:focus {
	background-color: hsla(210, 100%, 30%, 0.2);
	border: 2px solid hsla(210, 100%, 38%, 0.8);
	color: hsl(215, 15%, 92%);
}
@media (max-width: 1200px) {
	.container {
		padding: 0 10rem;
	}
}

@media (max-width: 992px) {
	.container {
		padding: 0 5rem;
	}
}

@media (max-width: 768px) {
	.container {
		padding: 0 2rem;
	}
}

@media (max-width: 576px) {
	.container {
		padding: 0 1rem;
	}
}
