.Container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 15rem;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: rgb(3, 2, 20);
	background: linear-gradient(
		180deg,
		rgba(3, 2, 20, 1) 15%,
		rgba(12, 12, 56, 1) 47%,
		rgba(2, 0, 36, 1) 85%
	);
	color: hsl(215, 15%, 92%);
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem; /* Добавляет расстояние между инпутом и кнопкой */
}

.Input {
	background-color: hsla(210, 100%, 30%, 0.2);
	border: 1px solid hsla(210, 100%, 38%, 0.8);
	color: hsl(215, 15%, 92%);
	padding: 0.5rem 1rem;
	border-radius: 10px;
	justify-content: center;
	width: 250px; /* Можно настроить ширину */
}

.Input:focus {
	background-color: hsla(210, 100%, 30%, 0.2);
	border: 2px solid hsla(210, 100%, 38%, 0.8);
	color: hsl(215, 15%, 92%);
}

.Input:active {
	background-color: hsla(210, 100%, 30%, 0.2);
	border: 2px solid hsla(210, 100%, 38%, 0.8);
	color: hsl(215, 15%, 92%);
}

.Input::placeholder {
	color: hsl(215, 15%, 92%);
}

.Button {
	transition: 0.2s;
	background: linear-gradient(145deg, #007bff, #0062cc);
	color: white;
	padding: 8px 12px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
	width: 100%; /* Можно настроить ширину кнопки */
}

.HomeButtonOutline {
	transition: 0.2s;
	background: transparent;
	color: white;
	padding: 8px 12px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 8px;
	border: 1px solid white;
	cursor: pointer;
	margin-top: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
	width: auto;
}
