.neon-gradient-background {
	background: rgb(3, 2, 20);
	background: linear-gradient(
		180deg,
		rgba(3, 2, 20, 1) 15%,
		rgba(12, 12, 56, 1) 47%,
		rgba(2, 0, 36, 1) 85%
	);
	color: hsl(215, 15%, 92%);
	padding-top: 85px;
}

/* ::-webkit-scrollbar {
	width: 3px; 
}

::-webkit-scrollbar-track {
	background: #ffffff00; 
}

::-webkit-scrollbar-thumb {
	background-color: #464694;
	border-radius: 10px; 
	border: 3px solid #444444; 
}

::-webkit-scrollbar-thumb:hover {
	background-color: #1f2678; 
}


* {
	scrollbar-width: thin;
	scrollbar-color: #111648 #444444; /* Цвет ползунка и трека */

@media (max-width: 992px) {
	.neon-gradient-background {
		padding-top: 0;
	}
}

@media (max-width: 768px) {
	.neon-gradient-background {
		padding-top: 0;
	}
}
