.container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.heading {
  color: #333;
}
 
.description {
  margin-bottom: 20px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #0056b3;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} 

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 10px;
  color: black;
}

.input {
  padding: 2px;
  margin-top: 1px;
  border: 1px solid #696969;
  border-radius: 5px;
  color: black;
}
.textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.textarea {
  resize: vertical;
}

.submitButton {
  background-color: #28a745;
  margin-top: 20px;
}

.submitButton:hover {
  background-color: #218838;
}

.closeButton {
  background-color: #dc3545;
  margin-top: 10px;
}

.closeButton:hover {
  background-color: #c82333;
}

.sliderContainer {
  position: relative;
  width: 100%;
  margin: 20px 0;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  background: linear-gradient(to right, #4CAF50 0%, #4CAF50 var(--slider-value, 5%), #ddd var(--slider-value, 5%), #ddd 100%);
  outline: none;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: background 0.3s;
  z-index: 4;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.sliderLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: black;
  pointer-events: none;
  user-select: none;
  z-index: 4;
  transition: opacity 3s ease-in-out;
}

.sliderLabel.hidden {
  opacity: 0;
}